
STM32CubeMX/STM32G070CB_Motor_Driver/Drivers/
*-backups/
*.pdf

*.lck

*fp-info-cache

*#auto_saved_files#

Kicad/DRV8311 on motor driver/#auto_saved_files#

Kicad/DRV8311 on motor driver/fp-info-cache
